.icon {
  width: 50px;
  height: 50px;
}

#css {
  width: 35px;
}

#react {
  background-image: url("../../images/icons/react.svg");
  background-size: cover;
  background-position: center;
  margin-left: -10px;
}

#redux {
  background-image: url("../../images/icons/redux.svg");
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  margin-left: -20px;
}

#python,
#flask,
#sqlalchemy,
#express,
#sequelize,
#postgres {
  margin-left: -10px;
}

#sequelize {
  width: 60px;
}

#leaveit_pic {
  height: 50%;
}

ul.actions {
  padding-top: 1em;
}

.resume_div {
  text-align: center;
  display: inline-block;
  position: relative;
  color: #a2a2a2;
}

.resume_div::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a2a2a2;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.resume_div:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.resume_div:hover {
  cursor: pointer;
}

@media screen and (max-width: 736px) {
  .icons_list {
    display: flex;
    flex-wrap: wrap;
  }
}
